Repository shyamtawli/devFind, pull requests merged in 2023-09, with the labels that each got.

#376 add: Geekverma
  public/data/Geekverma.json
  src/ProfilesList.json
Labels: add: profile

#379 add:raghav-singh
  public/data/RaghavSaptam.json
  src/ProfilesList.json
Labels: add: profile

#381 add: daimbk
  public/data/daimbk.json
  src/ProfilesList.json
Labels: add: profile

#382 add:JaredCaprio
  public/data/JaredCaprio.json
  src/ProfilesList.json
Labels: add: profile

#384 Refactor Search Bar
  public/data/Geekverma.json
  public/data/JaredCaprio.json
  public/data/RaghavSaptam.json
  public/data/RaviSolanki27.json
  public/data/daimbk.json
  public/index.html
  src/components/Search/Search.css
Labels: enhancement

#387 add: Austin Ameh
  public/data/arewageek.json
  src/ProfilesList.json
Labels: add: profile

#388 add: Priyanshu Singh
  public/data/priyanshu0511.json
  src/ProfilesList.json
Labels: add: profile

#385 add: Adebayolbrahim
  public/data/Adebayoibrahim.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#389 add: vamsi madugula
  public/data/anevski-stefan.json
  public/data/arewageek.json
  public/data/vamsi-spoidey7.json
  src/ProfilesList.json
Labels: add: profile

#390 add: Hraj24
  public/data/Hraj24.json
  src/ProfilesList.json
Labels: add: profile

#391 add:haseebyousuf
  public/data/haseebyousuf.json
  src/ProfilesList.json
Labels: add: profile

#395 add: NextThread
  public/data/NextThread.json
  src/ProfilesList.json
Labels: add: profile

#396 add:alexpeain
  public/data/Adebayoibrahim.json
  public/data/Hraj24.json
  public/data/alexpeain.json
  public/data/priyanshu0511.json
  src/ProfilesList.json
Labels: add: profile

#397 add: xradeel
  public/data/xradeel.json
  src/ProfilesList.json
Labels: add: profile

#398 add:joel
  public/data/NextThread.json
  public/data/usrj03l.json
  src/ProfilesList.json
Labels: add: profile

#401 add:Aman-chauhan
  public/data/AmanChauhan29.json
  src/ProfilesList.json
Labels: add: profile

#402 add: joshijoe05
  public/data/Tiensuperman.json
  public/data/joshijoe05.json
  src/ProfilesList.json
Labels: add: profile

#403 add: Adedoyinsola Ogungbesan
  public/data/surfiniaburger.json
  src/ProfilesList.json
Labels: add: profile

#404 add: Diyouf
  public/data/Diyouf.json
  src/ProfilesList.json
Labels: add: profile
