Repository shyamtawli/devFind, pull requests merged in 2023-05, with the labels that each got.

#100 add: pranshuj73
  src/data/Profile.json
Labels: add: profile

#102 data: add priyankarpal
  src/data/Profile.json
Labels: add: profile

#119 add: AseanK
  src/data/Profile.json
Labels: add: profile

#121 feat: add Priyansh Prajapat
  src/data/Profile.json
Labels: changes-requested, add: profile

#122 add: runday198
  src/data/Profile.json
Labels: add: profile

#115 add: Aman Raj
  src/data/Profile.json
Labels: changes-requested, add: profile

#120 add profile: njackman
  src/data/Profile.json
Labels: changes-requested, add: profile

#127 add: abdur rehman
  src/data/Profile.json
Labels: add: profile

#132 add: Matt Jarrett
  src/data/Profile.json
Labels: add: profile

#135 add: Sudipta Pradhan
  src/data/Profile.json
Labels: changes-requested, add: profile

#144 add: Bryan King Pecho
  src/data/Profile.json
Labels: add: profile

#147 add: lokytech5
  src/data/Profile.json
Labels: add: profile

#150 add: Ademola Ogunle
  src/data/Profile.json
Labels: add: profile

#152 feat: migrate to `pnpm` #148
  CONTRIBUTING.md
  README.md
  package-lock.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: enhancement

#159 add: usama-bagwan
  src/data/Profile.json
Labels: add: profile

#160 add: kwansing
  src/data/Profile.json
Labels: add: profile

#157 add: Shauna Empringham
  src/data/Profile.json
Labels: changes-requested, add: profile

#163 add: sonika
  src/data/Profile.json
Labels: add: profile

#167 add: Abdul Waheed's profile
  src/data/Profile.json
Labels: add: profile

#171 add: Akshaybagai52
  src/data/Profile.json
Labels: add: profile

#173 add: Navneet Kumar Singh
  src/data/Profile.json
Labels: add: profile

#179 add: jaskaran Kamboj
  src/data/Profile.json
Labels: add: profile

#182 add: Nsikak Thomas
  src/data/Profile.json
Labels: add: profile

#172 add: Tanbir Ali
  src/data/Profile.json
Labels: changes-requested, add: profile

#118 Update readme and dependencies
  README.md
Labels: documentation, enhancement

#190 Add: Hirdesh Kumar
  src/data/Profile.json
Labels: add: profile

#192 add: B2prakash
  src/data/Profile.json
Labels: changes-requested, add: profile

#210 add: Cameron Squires
  public/data/CameronSquires.json
  src/ProfilesList.json
Labels: add: profile

#213 Added hovering effect to Social media icons.
  src/components/Profile/Profile.css
  src/components/Profile/Profile.jsx
Labels: enhancement

#217 added 07prajwal200 profile
  public/data/07prajwal2000.json
  src/ProfilesList.json
Labels: add: profile

#200 feat: update profile list on character change
  src/components/Search/Search.jsx
Labels: enhancement, feature

#222 add: Vidip Ghosh
  public/data/Vidip-Ghosh.json
  src/ProfilesList.json
Labels: add: profile

#221 feat: workflow pr feedback
  .github/workflows/feedback.yml
Labels: enhancement

#225 add: Kaleem Ullah
  public/data/kaleemullah786.json
  src/ProfilesList.json
Labels: add: profile

#227 add nikgol profile
  public/data/nikolagolubovic.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#237 Fixed the social media Icons issue
  src/components/Profile/Profile.css
Labels: enhancement

#235 add: ankushtripathii
  public/data/ankushtripathii.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#241 add: shubham garg
  public/data/shubhamgarg21156.json
  src/ProfilesList.json
Labels: add: profile
