Repository shyamtawli/devFind, pull requests merged in 2023-10, with the labels that each got.

#407 add: vedant-28
  public/data/vedant-28.json
  src/ProfilesList.json
Labels: add: profile

#410 add:Koyal Kondapalli
  public/data/kondapalli19.json
  src/ProfilesList.json
Labels: add: profile

#408 add: bhaleroa-2002
  public/data/Rushikesh_Bhalerao.json
  src/ProfilesList.json
Labels: changes-requested, add: profile, hacktoberfest-accepted

#412 add: trdxlucifer
  public/data/trdxlucifer.json
  src/ProfilesList.json
Labels: add: profile

#413 add: Abhi Patel profile
  public/data/AbhiPatel10.json
  src/ProfilesList.json
Labels: add: profile, hacktoberfest-accepted

#416 add: shresritik
  public/data/shresritik.json
  src/ProfilesList.json
Labels: add: profile, hacktoberfest-accepted

#417 add:afreenpoly
  public/data/afreenpoly.json
  src/ProfilesList.json
Labels: add: profile, hacktoberfest-accepted

#419 add: Raunak Giri
  public/data/raunakgiri21.json
  src/ProfilesList.json
Labels: add: profile, hacktoberfest-accepted

#420 add: Samaresh-Das
  public/data/Samaresh-Das.json
  src/ProfilesList.json
Labels: add: profile

#422 add:Emmanuel-Tech-Dev
  public/data/Emmanuel-Tech-Dev.json
  public/data/Rushikesh_Bhalerao.json
  src/ProfilesList.json
Labels: add: profile, hacktoberfest-accepted

#424 add: trishan9
  public/data/trishan9.json
  src/ProfilesList.json
Labels: add: profile

#427 add: Pranita Dane
  public/data/pranita28Dane.json
  src/ProfilesList.json
Labels: add: profile

#426 add: rakimsth
  public/data/AbhiPatel10.json
  public/data/rakimsth.json
  src/ProfilesList.json
Labels: add: profile, hacktoberfest-accepted

#428 [style]: button for Github repo link.
  src/components/Sidebar/Sidebar.css
  src/components/Sidebar/Sidebar.jsx
Labels: enhancement, hacktoberfest-accepted

#430 add: anshulraturi
  public/data/RaturiAR7.json
  src/ProfilesList.json
Labels: add: profile, hacktoberfest-accepted

#432 add: saurabh29r
  public/data/afreenpoly.json
  public/data/saurabh29r.json
  src/ProfilesList.json
Labels: add: profile, hacktoberfest-accepted

#434 add: Sakshi29G
  public/data/Sakshi29G.json
  src/ProfilesList.json
Labels: add: profile

#436 add: Shiva Sai
  public/data/Shiva-Sai-ssb.json
  src/ProfilesList.json
Labels: add: profile

#439 Fixing issue #405 : Showing border while hovering social media icons
  src/components/Profile/Profile.css
Labels: enhancement, hacktoberfest-accepted

#440 add: kayceeNuel
  README.md
  public/data/kayceeNuel.json
  public/data/pranita28Dane.json
  public/data/trishan9.json
  src/ProfilesList.json
Labels: add: profile

#442 add: Subrat Kumar Jena profile
  public/data/subrat611.json
  src/ProfilesList.json
Labels: add: profile

#445 add:rabin
  public/data/rabinprajapati.json
  src/ProfilesList.json
Labels: add: profile

#447 add: Avishek-sth
  public/data/Avishek-shrestha.json
  src/ProfilesList.json
Labels: add: profile

#449 add: Mridul2820
  public/data/mridul2820.json
  src/ProfilesList.json
Labels: add: profile

#461 fix: remove whitespace from search query
  public/data/Shiva-Sai-ssb.json
  src/App.js
  src/components/Profile/Profile.css
Labels: enhancement

#458 add: shivanshsin0203
  public/data/shivansh0203.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#459 [PERF]: Optimized Search Input box and added a delete button to clear the input box.
  src/components/Search/Search.css
  src/components/Search/Search.jsx
  src/hooks/useDebouncer.jsx
Labels: enhancement, hacktoberfest-accepted

#462 add:vijay
  public/data/vijayv18.json
  src/ProfilesList.json
Labels: add: profile, hacktoberfest-accepted

#464 add: Akib-Vijapura
  public/data/Akib-Vijapura.json
  src/ProfilesList.json
Labels: add: profile, hacktoberfest-accepted

#465 Update README.md
  README.md
Labels: documentation

#468 add: digvijaysinghh
  public/data/digvijaysinghh.json
  src/ProfilesList.json
Labels: add: profile, hacktoberfest-accepted

#437 [FEAT]: Light Theme and Dark Theme Toggle
  src/App.js
  src/components/ErrorPage/ErrorPage.css
  src/components/NoResultFound/NoResultFound.css
  src/components/Pagination/Pagination.css
  src/components/Profile/Profile.css
  src/components/Search/Search.css
  src/components/Sidebar/Sidebar.css
  src/components/Sidebar/Sidebar.jsx
  src/hooks/useTheme.js
  src/index.css
Labels: enhancement, feature, hacktoberfest-accepted

#438 Fixed: made Viewlink hidden when empty/undefined
  public/data/Avishek-shrestha.json
  src/components/Profile/Profile.css
  src/components/Profile/Profile.jsx
Labels: enhancement, hacktoberfest-accepted

#472 add: aniimessh
  public/data/aniimessh.json
  src/ProfilesList.json
Labels: add: profile

#474 add: tedante
  public/data/shivansh0203.json
  public/data/tedante.json
  src/ProfilesList.json
Labels: add: profile

#481 add : Vaibhav
  public/data/vaibhav-009.json
  src/ProfilesList.json
Labels: add: profile

#484 add: Sharanya Chakraborty
  public/data/destryptor.json
  src/ProfilesList.json
Labels: add: profile

#477 add: leabuende
  public/data/leabuende.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#486 Add Profile: Haris Mohanty
  public/data/Haris-Mohanty.json
  src/ProfilesList.json
Labels: add: profile

#490 add: Sairaj Pawar
  public/data/Sairajepawar.json
  src/ProfilesList.json
Labels: add: profile

#492 add: g0v1ndN
  public/data/g0v1ndN.json
  src/ProfilesList.json
Labels: add: profile

#499 add: Biplob Sutradhar
  public/data/biplobsd.json
  public/data/vaibhav-009.json
  src/ProfilesList.json
Labels: add: profile

#500 add: Nabin Bhatt
  public/data/nabinbhatt.json
  src/ProfilesList.json
Labels: add: profile

#504 add: Ashish
  public/data/ashish5433.json
  src/ProfilesList.json
Labels: add: profile

#508 add: devmuhib009
  public/data/devmuhib009.json
  src/ProfilesList.json
Labels: add: profile

#473 doc : add devFind website link in README
  README.md
Labels: documentation, changes-requested

#511 add: aftabrehan
  public/data/aftabrehan.json
  src/ProfilesList.json
Labels: add: profile

#501 add: sangdeepganvir
  public/data/sanghdeep.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#510 add: harshhere
  public/data/Priyanshu.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#512 add: AaadityaG
  public/data/aaadityag.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#513 add : hackerspider09
  public/data/hackerspider09.json
  src/ProfilesList.json
Labels: add: profile

#515 add: rahul0x00
  public/data/rahul0x00.json
  src/ProfilesList.json
Labels: add: profile

#519 add: AlienMonk
  public/data/AlienMonk.json
  public/data/Haris-Mohanty.json
  public/data/Sairajepawar.json
  public/data/destryptor.json
  public/data/leabuende.json
  src/ProfilesList.json
Labels: add: profile

#523 add: shubham13k
  public/data/shubham13k.json
  src/ProfilesList.json
Labels: add: profile

#527 add: Saikatssd
  public/data/Saikatssd.json
  src/ProfilesList.json
Labels: add: profile

#532 add: uozcan12
  public/data/uozcan12.json
  src/ProfilesList.json
Labels: add: profile

#536 added nincompup-profile
  public/data/nincompup.json
  src/ProfilesList.json
Labels: add: profile

#530 add: rishabh kumar
  public/data/nabinbhatt.json
  public/data/rishabh22204901.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#539 add: nishant sapkota
  public/data/thenishantsapkota.json
  src/ProfilesList.json
Labels: add: profile

#516 Add: Niraj
  public/data/Niraj.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#542 [STYLE]: Added profile skeleton loader on Homepage
  src/App.js
  src/components/ProfileSkeleton/ProfileSkeleton.css
  src/components/ProfileSkeleton/ProfileSkeleton.jsx
  src/components/Sidebar/Sidebar.jsx
Labels: enhancement, hacktoberfest-accepted

#543 add Pratikdate
  public/data/Pratikdate.json
  src/ProfilesList.json
Labels: add: profile

#544 add: sneha9231
  public/data/sneha9231.json
  src/ProfilesList.json
Labels: add: profile

#549 add: mouli-3542
  public/data/mouli-3542.json
  src/ProfilesList.json
Labels: add: profile

#550 add: pratap360
  public/data/pratap360.json
  src/ProfilesList.json
Labels: add: profile

#554 add:shubham-shinde-442
  public/data/shubham-shinde-442.json
  src/ProfilesList.json
Labels: add: profile

#557 Add : Ram tyagi
  public/data/Ram-tyagi.json
  src/ProfilesList.json
Labels: add: profile

#560 chore: updating README with repo LICENSE
  README.md
Labels: documentation

#563 add:Prakhar-Shankar
  public/data/Prakhar-Shankar.json
  src/ProfilesList.json
Labels: add: profile

#566 add: biswabaibhav007
  public/data/biswabaibhab007.json
  src/ProfilesList.json
Labels: add: profile

#599 [STYLE]: Scroll bar matching with theme.
  src/App.css
Labels: enhancement

#568 add: Shubham Singodiya
  public/data/aaadityag.json
  public/data/hackerspider09.json
  public/data/mrswastik-robot.json
  public/data/nincompup.json
  public/data/rahul0x00.json
  public/data/shubham13k.json
  public/data/singodiyashubham87.json
  public/data/thenishantsapkota.json
  public/data/uozcan12.json
  src/ProfilesList.json
Labels: add: profile

#571 add: Tanmay-Giram
  public/data/Tanmay-Giram.json
  src/ProfilesList.json
Labels: add: profile

#545 Chore: Updated README with Github badges
  README.md
Labels: documentation

#558 add: khushminder270
  public/data/khushminder270.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#573 add: 0xNunana
  public/data/0xNunana.json
  src/ProfilesList.json
Labels: add: profile

#577 add: Rishabh_Varshney
  public/data/var-rishabh.json
  src/ProfilesList.json
Labels: add: profile

#579 added: Vijay KV
  public/data/Vijaykv5.json
  src/ProfilesList.json
Labels: add: profile

#580 add: devansh baghel
  public/data/Devansh-Baghel.json
  src/ProfilesList.json
Labels: add: profile

#581 [FIX]: Comment out instructions in pull request template
  .github/pull_request_template.md
Labels: enhancement

#584 add: Upendra
  public/data/Pratikdate.json
  public/data/mouli-3542.json
  public/data/sneha9231.json
  public/data/upendra.json
  src/App.js
  src/ProfilesList.json
  src/components/ProfileSkeleton/ProfileSkeleton.css
  src/components/ProfileSkeleton/ProfileSkeleton.jsx
Labels: add: profile

#586 add: Kritika30032002
  public/data/Kritika30032002.json
  src/ProfilesList.json
Labels: add: profile

#588 [DOC]: Command to change directory in CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#589 add: dellucifer
  public/data/dellucifer.json
  src/ProfilesList.json
Labels: add: profile

#590 add: shricodev
  public/data/shricodev.json
  src/ProfilesList.json
Labels: add: profile

#576 add: SoulNikhar
  public/data/SoulNikhar.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#585 amandeep-singh-parihar
  public/data/amandeep-singh-parihar.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#592 Add: YashSalunke12
  public/data/YashSalunke12.json
  src/ProfilesList.json
Labels: add: profile

#595 add: niranjan-kurhade
  public/data/niranjan-kurhade.json
  src/ProfilesList.json
Labels: add: profile

#596 add : Shreyas Deshpande
  public/data/shreyasdeshpande.json
  src/ProfilesList.json
Labels: add: profile

#591 add : Sch476
  public/data/Sch476.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#593 add:Manish
  public/data/manishjha-04.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#598 add: Himanshu Kumar Mahto
  public/data/himanshumahto.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#603 Add: Bratajit-03
  public/data/Bratajit-03.json
  src/ProfilesList.json
Labels: add: profile

#604 add: Subhayu Dutta
  public/data/subhayudutta.json
  src/ProfilesList.json
Labels: add: profile

#605 add: Avinav Chatterjee
  public/data/AvinavCHATTERJEE2103028.json
  src/ProfilesList.json
Labels: add: profile

#608 add: gaurav giri
  public/data/gaurovgiri.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#610 add: harshalhonde21
  public/data/Prakhar-Shankar.json
  public/data/Ram-tyagi.json
  public/data/biswabaibhab007.json
  public/data/harshal.json
  public/data/pratap360.json
  public/data/shubham-shinde-442.json
  src/ProfilesList.json
Labels: add: profile

#612 [STYLE]: Names will redirect to portfolio
  src/components/Profile/Profile.css
  src/components/Profile/Profile.jsx
Labels: enhancement

#613 Add : abhishek19-dev
  public/data/abhishek19-dev.json
  src/ProfilesList.json
Labels: add: profile

#616 add : TaeMochi12
  public/data/TaeMochi12.json
  src/ProfilesList.json
Labels: add: profile

#622 add : Farukhs52
  public/data/FarukhS52.json
  src/ProfilesList.json
Labels: add: profile

#630 add: Yash636261
  public/data/Yash636261.json
  src/ProfilesList.json
Labels: add: profile

#635 add: arshadpatel
  public/data/arshadpatel.json
  src/ProfilesList.json
Labels: add: profile

#636 add: Angad-Godara
  public/data/Angad-godara.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#638 add: yuvrajverma
  public/data/0xNunana.json
  public/data/Ankit-3130.json
  public/data/AvinavCHATTERJEE2103028.json
  public/data/Bratajit-03.json
  public/data/Kritika30032002.json
  public/data/Sch476.json
  public/data/SoulNikhar.json
  public/data/Vijaykv5.json
  public/data/YashSalunke12.json
  public/data/amandeep-singh-parihar.json
  public/data/dellucifer.json
  public/data/himanshumahto.json
  public/data/khushminder270.json
  public/data/manishjha-04.json
  public/data/shricodev.json
  public/data/subhayudutta.json
  public/data/var-rishabh.json
  public/data/yuvrajverma25.json
  src/ProfilesList.json
Labels: add: profile

#639 add: shashankx86
  public/data/shashankx86.json
  src/ProfilesList.json
Labels: add: profile

#642 add: Parth4git
  public/data/Parth4git.json
  src/ProfilesList.json
Labels: add: profile

#618 [DOC]: Added Table of Contents to README
  README.md
Labels: documentation

#647 add: codeOraaange
  public/data/codeOraaange.json
  src/ProfilesList.json
Labels: add: profile

#649 add profile .json
  public/data/UmangDalvadi.json
  src/ProfilesList.json
Labels: add: profile

#650 add: Kathuria
  public/data/Kathuria.json
  src/ProfilesList.json
Labels: add: profile

#651 add: martjellino
  public/data/martjellino.json
  src/ProfilesList.json
Labels: add: profile

#654 add : vivekBoii
  public/data/vivekboii.json
  src/ProfilesList.json
Labels: add: profile

#655 add: aayush105
  public/data/aayush105.json
  src/ProfilesList.json
Labels: add: profile

#475 add: Sahil
  package.json
  public/data/Sahil-K123.json
  src/ProfilesList.json
Labels: add: profile

#646 add: Priyanshuthapliyal2005
  public/data/Priyanshuthapliyal2005.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#653 add: Zeeshan Mukhtar
  public/data/ZeeshanMukhtar1.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#657 add: jeeehaan
  public/data/jeeehaan.json
  src/ProfilesList.json
Labels: add: profile

#658 add <ved-mohan>
  public/data/ivedmohan.json
  src/ProfilesList.json
Labels: add: profile

#659 [STYLE]: Fixed Cross Icon Color on Light and Dark Mode
  public/data/Angad-godara.json
  public/data/TaeMochi12.json
  public/data/Yash636261.json
  public/data/abhishek19-dev.json
  public/data/arshadpatel.json
  public/data/pratikkumar399.json
  public/data/shashankx86.json
  src/components/Profile/Profile.css
  src/components/Profile/Profile.jsx
  src/components/Search/Search.css
Labels: enhancement

#660 Create dabhitapan.json
  public/data/dabhitapan.json
  src/ProfilesList.json
Labels: add: profile

#661 add: sujaltangde
  README.md
  public/data/codeOraaange.json
  public/data/sujaltangde.json
  src/ProfilesList.json
Labels: add: profile

#665 add-profile: tholkappiar
  public/data/tholkappiar.json
  src/ProfilesList.json
Labels: add: profile

#668 add: imrtls00
  public/data/imrtls00.json
  src/ProfilesList.json
Labels: add: profile
