Repository shyamtawli/devFind, pull requests merged in 2023-07, with the labels that each got.

#299 add: Aditya Rawas
  public/data/rawasaditya.json
  src/ProfilesList.json
Labels: add: profile

#298 add: Danilo Donado
  public/data/DaniloDO.json
  src/ProfilesList.json
Labels: add: profile

#296 Pagination:Issue#285
  src/App.js
  src/components/Pagination/Pagination.css
  src/components/Pagination/Pagination.jsx
Labels: enhancement, changes-requested

#297 fix(components/Profile): Fixed skill scroll problem (fixes #282)
  src/components/Profile/Profile.css
  src/components/Profile/Profile.jsx
Labels: enhancement

#302 add: roc102
  public/data/DaniloDO.json
  public/data/rawasaditya.json
  public/data/roc102.json
  src/ProfilesList.json
Labels: add: profile

#300 add: AlimurtuzaCodes
  public/data/AlimurtuzaCodes.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#309 add: Rutul Patel
  public/data/RutulPatel007.json
  src/ProfilesList.json
Labels: add: profile

#310 add:Kshitij Shrivastava
  public/data/idevkshitij.json
  src/ProfilesList.json
Labels: add: profile

#311 add: charukirti
  public/data/charukirti.json
  src/ProfilesList.json
Labels: add: profile

#314 add: Jesus Gastelum
  public/data/JesugG17.json
  public/index.html
  src/ProfilesList.json
Labels: changes-requested, add: profile

#315 overall design and responsiveness improvements
  src/App.css
  src/components/Search/Search.css
  src/components/Sidebar/Sidebar.css
  src/components/Sidebar/Sidebar.jsx
Labels: enhancement

#316 add: Akkash20
  public/data/akkash20.json
  src/ProfilesList.json
Labels: add: profile

#318 add: Caglayan Caliskan
  public/data/CaglayanCaliskan.json
  src/ProfilesList.json
Labels: add: profile

#319 add: Robertw8
  public/data/robertw8.json
  src/ProfilesList.json
Labels: add: profile

#322 add:geniussniper
  public/data/GeniusSniper.json
  src/ProfilesList.json
Labels: add: profile

#323 fix: repository name
  CONTRIBUTING.md
Labels: documentation

#330 add: Dominik Gronkiewicz
  public/data/dominikgronkiewicz.json
  src/ProfilesList.json
Labels: add: profile

#327 add: jayrkyd
  public/data/JayRKyd.json
  public/index.html
  src/ProfilesList.json
Labels: changes-requested, add: profile

#331 add: r4ghuveer #325
  public/data/dominikgronkiewicz.json
  public/data/r4ghuveer.json
  src/ProfilesList.json
Labels: add: profile

#332 add: nikohoffren
  public/data/nikohoffren.json
  src/ProfilesList.json
Labels: add: profile

#333 add: Piyush-onGIT
  public/data/Piyush-onGIT.json
  src/ProfilesList.json
Labels: add: profile
