Repository shyamtawli/devFind, pull requests merged in 2023-06, with the labels that each got.

#242 add: Poorvi J Nayak
  public/data/poorvijn.json
  src/ProfilesList.json
Labels: add: profile

#244 Added a step to stage commits in README.md
  README.md
Labels: documentation

#246 adding new profile
  public/data/warlegend24.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#250 add:nikhill56
  public/data/nikhill56.json
  src/ProfilesList.json
Labels: add: profile

#251 add: ayezabashir
  public/data/ayezabashir.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#253 add: Yair-N
  public/data/Yair-N.json
  src/ProfilesList.json
Labels: add: profile

#254 add: Oluwatimilehin
  public/data/therealtmmy.json
  src/ProfilesList.json
Labels: add: profile

#256 add: Catalino
  public/data/RodCato.json
  src/ProfilesList.json
Labels: add: profile

#255 Error Page Component added
  src/App.js
  src/components/ErrorPage/ErrorPage.css
  src/components/ErrorPage/ErrorPage.jsx
Labels: enhancement

#260 add: AyusGup
  public/data/AyusGup.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#266 add: Praveen Kumar
  public/data/Praveenkumar.json
  src/ProfilesList.json
Labels: add: profile

#258 Integration of prettier into the code
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/style.yml
  .github/dependabot.yml
  .github/workflows/JSONchecker.yml
  .github/workflows/greetings.yml
  .prettierrc.json
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/data/07prajwal2000.json
  public/data/CameronSquires.json
  public/data/Sage-2001.json
  public/data/Vidip-Ghosh.json
  public/data/Yair-N.json
  public/data/ankushtripathii.json
  public/data/ayezabashir.json
  public/data/bharathkalyans.json
  public/data/kaleemullah786.json
  public/data/poorvijn.json
  public/data/shubhamgarg21156.json
  public/data/sidsaurav.json
  public/data/warlegend24.json
  public/index.html
  src/App.js
  src/ProfilesList.json
  src/components/NoResultFound/NoResultFound.css
  src/components/NoResultFound/NoResultFound.jsx
  src/components/Profile/Profile.css
  src/components/Profile/Profile.jsx
  src/components/Search/Search.css
  src/components/Search/Search.jsx
  src/components/Sidebar/Sidebar.css
  src/components/Sidebar/Sidebar.jsx
  src/index.css
  src/index.js
Labels: enhancement

#269 add:Ali t.nazari
  public/data/Silent-Watcher.json
  src/ProfilesList.json
Labels: add: profile

#272 pre-commit for prettier (husky)
  .husky/pre-commit
  .prettierrc.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  public/data/1010nishat.json
  public/data/Aayush895.json
  public/data/Adetimmy.json
  public/data/AndreJorgeLopes.json
  public/data/AyusGup.json
  public/data/Bhanuteja01.json
  public/data/Hendriksn.json
  public/data/Kirandev12.json
  public/data/Lovegupta112.json
  public/data/Monilprajapati.json
  public/data/PrasannaKumarBhursu.json
  public/data/Praveenkumar.json
  public/data/Pritam1136.json
  public/data/RodCato.json
  public/data/ShaunaTheDead86.json
  public/data/ThienBNguyen.json
  public/data/Vidip-Ghosh.json
  public/data/abbasali123.json
  public/data/alicesmith.json
  public/data/dcryptoniun.json
  public/data/devhabib429.json
  public/data/drewpate.json
  public/data/giri-madhan.json
  public/data/iusamahub.json
  public/data/jaskaran1.json
  public/data/jayk-gupta.json
  public/data/jovan6jovan.json
  public/data/kaleemullah786.json
  public/data/liza-bhutani.json
  public/data/lokytech5.json
  public/data/pranshuj73.json
  public/data/sampath88.json
  public/data/santoshkuchetti.json
  public/data/shivam550.json
  public/data/shubsharma19.json
  public/data/sika-007.json
  public/data/tanbirali.json
  public/data/therealtmmy.json
  public/data/vinay-chaudhary.json
  public/data/warlegend24.json
  src/App.js
  src/components/ErrorPage/ErrorPage.jsx
  src/components/Profile/Profile.jsx
  src/components/Search/Search.jsx
  src/components/Sidebar/Sidebar.jsx
  src/index.css
  src/index.js
Labels: enhancement

#271 add: anubhav1206
  public/data/anubhav1206.json
  src/ProfilesList.json
Labels: add: profile

#274 add: Yvad60
  public/data/Yvad60.json
  public/data/anubhav1206.json
  src/ProfilesList.json
Labels: add: profile

#276 add:Avinash
  public/data/avinashji1302.json
  src/ProfilesList.json
Labels: add: profile

#280 add: wasif akram
  public/data/wasifdv.json
  src/ProfilesList.json
Labels: add: profile

#283 add: ansisme
  pnpm-lock.yaml
  public/data/ansisme.json
  public/data/avinashji1302.json
  src/ProfilesList.json
Labels: add: profile

#286 add: Shivanshu814
  public/data/shivanshu814.json
  src/ProfilesList.json
Labels: add: profile

#290 add:KaptainCS3
  public/data/KaptainCS3.json
  src/ProfilesList.json
Labels: add: profile

#291 add: Salman Akhtar
  public/data/salmanakhtar57.json
  src/ProfilesList.json
Labels: add: profile

#293 add: ztest95
  public/data/ztest95.json
  src/ProfilesList.json
Labels: add: profile

#294 add: SagarBawanthade
  public/data/SagarBawanthade.json
  src/ProfilesList.json
Labels: add: profile

#295 add:dishavig
  public/data/vigdisha.json
  src/ProfilesList.json
Labels: add: profile
