Repository shyamtawli/devFind, pull requests merged in 2024-06, with the labels that each got.

#1034 [BUG]: Pagination Not Showing
  src/App.js
Labels: GSSoC, level1

#1030 Sahilll15 Profile
  public/data/Sahilll15.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#1029 make skill section more responsive on user profile, resolved issue #990
  src/ProfilesList.json
  src/components/Profile/Profile.jsx
Labels: GSSoC24, level1

#1035 add : balaharisankar
  public/data/BHS-Harish.json
  src/ProfilesList.json
Labels: add: profile

#1041 add: Shiva Aryal
  public/data/connectaryal.json
  src/ProfilesList.json
Labels: add: profile
