Repository shyamtawli/devFind, pull requests merged in 2024-01, with the labels that each got.

#760 add: notjawad404
  public/data/notjawad404.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#764 add: Imtiaz Nayeem Shawon
  public/data/ImtiazNayeemShawon.json
  src/ProfilesList.json
Labels: add: profile

#765 add: humayunkabir
  public/data/humayunkabir.json
  src/ProfilesList.json
Labels: add: profile

#768 add:noor017
  public/data/noor017.json
  src/ProfilesList.json
Labels: add: profile

#769 add: sakibul-islam
  public/data/sakibul-islam.json
  src/ProfilesList.json
Labels: add: profile

#770 Add:emon1432
  public/data/emon1432.json
  src/ProfilesList.json
Labels: add: profile

#771 add: Gour Saha Joy
  public/data/gsjoy24.json
  src/ProfilesList.json
Labels: add: profile

#774 Add Profile: raihaninfo
  public/data/Raihaninfo.json
  src/ProfilesList.json
Labels: add: profile

#748 add:rapid-killer-9
  public/data/rapid-killer-9.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#773 add: abdullahjavaid86
  public/data/abdullah_javaid.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#775 add: ashsajal1
  public/data/ashsajal1.json
  src/ProfilesList.json
Labels: add: profile

#777 add Yaya12085 profile
  public/data/Yaya12085.json
  src/ProfilesList.json
Labels: add: profile

#779 add: manthan
  public/data/manthanank.json
  src/ProfilesList.json
Labels: add: profile

#780 add: Md Tanvir Ahamed Shanto
  public/data/mdtanvirahamedshanto.json
  src/ProfilesList.json
Labels: add: profile

#781 add:murilo-simio
  public/data/murilo-simio.json
  src/ProfilesList.json
Labels: add: profile

#782 add: sanjeev
  public/data/DhanushNehru.json
  public/data/sanjeevs9.json
  public/data/ugbabeOg.json
  src/ProfilesList.json
Labels: add: profile

#783 add: David-mwas
  public/data/David-mwas.json
  src/ProfilesList.json
Labels: add: profile

#786 add:Amitmasram
  public/data/Amitmasram.json
  public/data/Licodeao.json
  public/data/MastooraTurkmen.json
  public/data/mateusfg7.json
  src/ProfilesList.json
Labels: add: profile

#787 add: Vedant Yetekar
  public/data/uuvedant4.json
  src/ProfilesList.json
Labels: add: profile

#790 add:hammadzafar05
  public/data/ImtiazNayeemShawon.json
  public/data/hammadzafar05.json
  public/data/noor017.json
  public/data/notjawad404.json
  src/ProfilesList.json
Labels: add: profile

#791 add: CMohamed
  public/data/CMohamed.json
  src/ProfilesList.json
Labels: add: profile

#792 add: Stephen Kwaku Azongo
  public/data/steveAzo.json
  src/ProfilesList.json
Labels: add: profile

#796 add: eunit99
  public/data/eunit99.json
  src/ProfilesList.json
Labels: add: profile

#784 add: Himel Islam
  public/data/himelislam.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#800 add: Nabil Akhunjee
  public/data/nbakh16.json
  src/ProfilesList.json
Labels: add: profile

#801 add jonasermert
  public/data/jonasermert.json
  src/ProfilesList.json
Labels: add: profile

#803 add: parkson-tano
  public/data/parkson-tano.json
  src/ProfilesList.json
Labels: add: profile

#804 Add: apenasgabs.json
  public/data/apenasgabs.json
  src/ProfilesList.json
Labels: add: profile

#806 add: Napong Jantaranimi
  public/data/NongBritee.json
  src/ProfilesList.json
Labels: add: profile

#808 add: Guilherme Dantas
  public/data/Dants0.json
  public/data/emon1432.json
  public/data/manthanank.json
  public/data/mdtanvirahamedshanto.json
  public/data/murilo-simio.json
  public/data/rapid-killer-9.json
  src/ProfilesList.json
Labels: add: profile

#802 add: rasel9t6
  public/data/rasel9t6.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#809 style: changed former Twitter logo & updated styles
  src/components/Profile/Profile.css
  src/components/Profile/Profile.jsx
Labels: enhancement, frontend

#818 add: Abubakar Muhammad Ala
  public/data/CMohamed.json
  public/data/David-mwas.json
  public/data/amjido-01.json
  public/data/eunit99.json
  public/data/kipmyk.json
  src/ProfilesList.json
Labels: add: profile

#811 add: utkarsh-1602
  public/data/utkarsh-1602.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#820 add :pirjademl
  public/data/himelislam.json
  public/data/jonasermert.json
  public/data/nbakh16.json
  public/data/pirjademl.json
  src/ProfilesList.json
Labels: add: profile

#822 add: Abhiraj Chaudhuri
  public/data/abhie7.json
  src/ProfilesList.json
Labels: add: profile

#829 add: Bruce Chapman
  public/data/BruceCha.json
  public/data/NongBritee.json
  public/data/apenasgabs.json
  public/data/parkson-tano.json
  public/data/rasel9t6.json
  src/ProfilesList.json
Labels: add: profile

#830 add: jeremyrayjewell
  public/data/jeremyrayjewell.json
  src/ProfilesList.json
Labels: add: profile

#823 add: geoffreykithuku
  public/data/geoffreykithuku.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#832 add: akhtrahssn
  public/data/akhtarhssn.json
  public/data/utkarsh-1602.json
  src/ProfilesList.json
Labels: add: profile

#838 add: leo carvalho
  public/data/carvalholeo.json
  src/ProfilesList.json
Labels: add: profile

#847 add: Shagun Sharma
  public/data/shagunsharma6677.json
  src/ProfilesList.json
Labels: add: profile

#848 add: AkshayPratapSingh09
  public/data/AkshayPratapSingh09.json
  src/ProfilesList.json
Labels: add: profile

#831 FIX: Default Avatar
  package.json
  public/default.png
  src/components/Profile/Profile.jsx
  src/components/Sidebar/Sidebar.jsx
Labels: enhancement

#849 add: Kit-Kat31415926
  public/data/Kit-Kat31415926.json
  src/ProfilesList.json
Labels: add: profile
