Repository shyamtawli/devFind, pull requests merged in 2024-10, with the labels that each got.

#1122 add: kushagra raj tiwari
  public/data/krtEngineer.json
  src/ProfilesList.json
Labels: add: profile

#1121 fixed [Bug]: On hovering card of users flickering issue #1095 & added…
  public/data/ArnavGarg68.json
  src/ProfilesList.json
  src/components/Profile/Profile.jsx
Labels: enhancement, add: profile

#1123 add: vishal065 profile and public data added
  public/data/adityashah7867.json
  public/data/vishal065.json
  src/ProfilesList.json
Labels: add: profile

#1126 add: Chowdhury Tafsir Ahmed Siddiki
  public/data/ctafsiras.json
  src/ProfilesList.json
Labels: add: profile

#1128 add: Hamzathul Favas E
  public/data/hamzathul.json
  src/ProfilesList.json
Labels: add: profile

#1114 add: Omkar Bhatuse
  public/data/omkar-ctrl.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#1127 add: Atik Vohra
  package-lock.json
  public/data/atik-7866.json
  src/ProfilesList.json
Labels: changes-requested, add: profile, hacktoberfest
