Repository shyamtawli/devFind, pull requests merged in 2024-09, with the labels that each got.

#1101 Added default profile pic for the user
  src/components/Profile/Profile.jsx
  src/components/Profile/image.png
Labels: GSSoC, level1

#1108 add: samah554
  public/data/samah554.json
  src/ProfilesList.json
Labels: add: profile

#1110 add: Sanket176
  public/data/Sanket176.json
  src/ProfilesList.json
Labels: add: profile

#1109 add: Aditya Shah
  public/data/adityashah7867.json
  src/ProfilesList.json
Labels: add: profile

#1112 add:Jyothishree2k5
  public/data/Jyothishree2k5.json
  src/ProfilesList.json
Labels: add: profile

#1116 Resolve search functionality bug with pagination
  public/data/Om-pawarr.json
  public/data/giuliarappo.json
  src/App.js
  src/ProfilesList.json
Labels: enhancement

#1086 add: Ansh Grover
  public/data/Anshgrover23.json
  src/ProfilesList.json
Labels: add: profile
