Repository shyamtawli/devFind, pull requests merged in 2024-07, with the labels that each got.

#1071 add: Deepanshu
  public/data/why-deepanshux.json
  src/ProfilesList.json
Labels: add: profile

#1082 add: tainguyenphat74
  public/data/tainguyenphat74.json
  src/ProfilesList.json
Labels: add: profile

#1080 #982 Fix search bar
  src/App.js
  src/components/Search/Search.jsx
Labels: GSSoC24, GSSoC, level3

#1038 Fixed Responsiveness for laptop 1024 and tablet size
  src/components/Profile/Profile.jsx
  src/components/Sidebar/Sidebar.jsx
Labels: GSSoC24, GSSoC, level1

#1091 add: dylan-dot-c [Added my Profile]
  public/data/dylan-dot-c.json
  public/data/tainguyenphat74.json
  src/App.js
  src/ProfilesList.json
  src/components/Search/Search.jsx
Labels: add: profile
