Repository shyamtawli/devFind, pull requests merged in 2024-04, with the labels that each got.

#927 add: nanditaSunil
  public/data/Nanditasunil.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#932 add: sakshamgupta912
  public/data/sakshamgupta921.json
  src/ProfilesList.json
Labels: add: profile

#930 add: patrick
  public/data/developer_assets.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#934 add: hassan abou khalil
  public/data/hassanaboukhalil.json
  public/data/krishajoshi14.json
  public/data/sakshamgupta921.json
  src/ProfilesList.json
Labels: add: profile

#941 add: Chaitany Arora
  public/data/chaitanyarora.json
  public/data/developer_assets.json
  src/ProfilesList.json
Labels: add: profile

#940 Fix: Seach Icon and Close Icon
  src/components/Search/Search.jsx
Labels: enhancement

#942 add: Sabari CK
  public/data/CKsabari2001.json
  src/ProfilesList.json
Labels: add: profile

#943 add: rohitxdd
  public/data/rohitxdd.json
  src/ProfilesList.json
Labels: add: profile

#947 Add: Erick-WG
  public/data/Erick-WG.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#949 add: Andres Felipe
  public/data/AndresFelipe077.json
  public/data/rohitxdd.json
  src/ProfilesList.json
Labels: add: profile
