Repository shyamtawli/devFind, pull requests merged in 2024-02, with the labels that each got.

#859 add: bxljoy
  public/data/bxljoy.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#858 Fixed Scroll to Top Functionalilty
  src/App.js
Labels: enhancement, changes-requested

#861 add: dayvsonspacca
  public/data/dayvsonspacca.json
  src/ProfilesList.json
Labels: add: profile

#860 ProfileSkeleton Component migrated to TailwindCSS
  src/components/ProfileSkeleton/ProfileSkeleton.css
  src/components/ProfileSkeleton/ProfileSkeleton.jsx
  src/index.css
Labels: enhancement

#867 add: Ivanov1201
  public/data/Ivanov1201.json
  src/ProfilesList.json
Labels: add: profile

#869 add: sahilatahar
  public/data/sahilatahar.json
  src/ProfilesList.json
Labels: add: profile

#795 add:<HlobisileLukhele>
  public/data/HlobisileLukhele.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#870 add: himanshuchandola
  public/data/himanshuchandola.json
  src/ProfilesList.json
Labels: add: profile

#862 Update former Twitter logo
  src/components/Profile/Profile.jsx
  src/components/Search/Search.jsx
Labels: changes-requested, frontend

#871 FIX: Remove paginator when there is no result for the search
  public/data/HlobisileLukhele.json
  src/App.js
Labels: enhancement

#872 add: iagorivelo
  public/data/iagorivelo.json
  src/ProfilesList.json
Labels: add: profile

#874 added profile: saras1212
  public/data/saras1212.json
  src/ProfilesList.json
Labels: add: profile

#877 add: JuanPabloDiaz
  public/data/JuanPabloDiaz.json
  src/ProfilesList.json
Labels: add: profile

#880 add: euotiniel
  public/data/euotiniel.json
  src/ProfilesList.json
Labels: add: profile

#881 add: chelseaqnguyen
  public/data/chelseaqnguyen.json
  src/ProfilesList.json
Labels: add: profile

#878 add: Jason
  public/data/Jasowills.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#883 add: sanchitbajaj02's profile
  public/data/sanchitbajaj02.json
  src/ProfilesList.json
Labels: add: profile

#857 add: masudranashawon
  public/data/masudranashawon.json
  public/data/sanchitbajaj02.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#890 Update emon1432.json
  public/data/emon1432.json
Labels: add: profile

#884 add: SamRB-dev
  public/data/SamRB-dev.json
  src/ProfilesList.json
Labels: changes-requested, add: profile

#892 add: Asmar-Ali
  public/data/Asmar-Ali.json
  src/ProfilesList.json
Labels: add: profile

#894 add: Swayam Vasavada
  public/data/swayamvasavada.json
  src/ProfilesList.json
Labels: add: profile

#896 add: Manuel Bento
  public/data/manuelbento19.json
  src/ProfilesList.json
Labels: add: profile

#899 add: Ken-Musau
  public/data/Ken-Musau.json
  src/ProfilesList.json
Labels: add: profile
